@media (min-width: 600px) {
  .main {
    margin-left: 20rem;
    margin-right: 20rem;
  }

  .headerTextRight {
    text-align: right;
    font-size: 0.875rem;
    line-height: 1.25rem;
    flex-grow: 1;
  }

  .footer {
    justify-content: center;
  }

  .blockRight {
    margin-left: 10rem;
  }

  .introText {
    max-width: 47rem;
    margin-top: 5rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin: 7rem;
  }

  .headerTextRight {
    text-align: right;
    font-size: 1.4rem;
  }
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  align-items: center;
  margin-top: 20rem
}

.blockRight, .blockLeft, .intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.intro {
  margin-bottom: 3rem;
}

.blockLeft {
  max-width: 100rem;
}

.blockRight, .blockLeft {
  margin-bottom: 2rem;
  padding-right: 0;
  border-radius: 30px;
  padding: 3rem;
}

.blockFoto {
  margin-left: auto;
}
