@media (min-width: 600px) {
  .container {
    padding: 0 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
  }

  .headerTextRight {
    text-align: right;
    font-size: 0.875rem;
    line-height: 1.25rem;
    flex-grow: 1;
  }
}

@media (max-width: 600px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  font-family: 'OpenSans-serif';
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}


.blockRight, .blockLeft, .intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.intro {
  margin-bottom: 3rem;
}

.introText {
  max-width: 47rem;
  margin-top: 5rem;
}

.blockRight, .blockLeft {
  width: 1000px;
  margin-bottom: 2rem;
  border-radius: 30px;
  padding: 3rem;
}

.blockRight {
  margin-left: 10rem;
}

.blockFoto {
  margin-left: auto;
}
