@media (min-width: 600px) {
  .container {
    padding: 0 2rem;
    margin-left: 20rem;
    margin-right: 20rem;
  }
}

@media (max-width: 600px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  font-family: 'OpenSans-serif';
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.subtitle {
  margin-top: 10px;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.introText {
  max-width: 42rem;
  margin-top: 5rem;
}

.introFoto {
  max-width: 40rem;
  margin-left: 7rem;
  justify-content: flex-end;
}

@media (min-width: 600px) {
  .headerTextRight {
    text-align: right;
    font-size: 0.875rem;
    line-height: 1.25rem;
    flex-grow: 1;
  }
}